.addContact {
  min-width: 100px;
  .btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 01s;
    p {
      color: rgb(204, 197, 197);
      font-size: 1.3rem;
      margin-left: 10px;
    }
    &:hover {
      p {
        color: #fff;
        text-shadow: 2px 2px 5px #000;
      }
    }
  }
}
