.registration {
  width: 300px;
  display: flex;
  flex-direction: column;
  .svgWrapper {
    margin-bottom: 5px;
    button {
      cursor: pointer;
      svg {
        &:hover {
          stroke: #7a7a7a;
        }
      }
    }
  }
  .input {
    color: #fff;
    width: 100%;
    padding: 20px;
    background-color: #3a4149;
    margin-bottom: 20px;
    font-size: 1.2rem;
    transition: all 0.3s;
    &:hover {
      box-shadow: 2px 2px 2px 2px #171a1f;
    }
  }
  .btn {
    width: 100%;
    padding: 20px;
    background-color: #ea4c87;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    transition: all 0.3s;
    font-weight: 700;
    letter-spacing: 0.5px;
    &:hover {
      box-shadow: 2px 2px 2px 2px #aa2455;
    }
  }
  .nonActiveBtn {
    background-color: #f089ae;
    pointer-events: none;
    cursor: default;
    &:hover {
      box-shadow: none;
    }
  }
}
